If, Elif, and Else Statements

In [7]:
hungry = False

if hungry:
    print('FEED ME')
else:
    print('Im not hungry')

Im not hungry

In [14]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('cars are cool')
elif loc == 'Bank':
    print('Money is cool')
elif loc == 'Store':
    print('Welcome to the store')
else:
    print('I do not know much')

Money is cool

In [17]:
name = 'Frank'

if name == 'Frankie':
    print('hello Frankie')
elif name == 'Sammy':
    print('hello Sammy')
else:
    print('What is your name?')

What is your name?

For Loops

In [18]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [20]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [25]:
for num in mylist:
    print('jello')

jello
jello
jello
jello
jello
jello
jello
jello
jello
jello

In [28]:
for num in mylist:
    # Check for even
    if num % 2 == 0:
        print(num)
    else:
        print(f'odd number: {num}')

odd number: 1
2
odd number: 3
4
odd number: 5
6
odd number: 7
8
odd number: 9
10

In [32]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [34]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [37]:
for big in "Hey hey hey":
    print(big + 'woah')

Hwoah
ewoah
ywoah
 woah
hwoah
ewoah
ywoah
 woah
hwoah
ewoah
ywoah

In [39]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [40]:
len(mylist)

4

In [41]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [42]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [44]:
for a,b in mylist:
    print(a)
    print('and')
    print(b)

1
and
2
3
and
4
5
and
6
7
and
8

In [45]:
mylist = [(1,2,3),(4,5,6),(7,8,9)]

In [49]:
for a,b,c in mylist:
    print(b)

2
5
8

In [52]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [54]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [55]:
for key,value in d.items():
    print(value)

1
2
3

While Loops

In [59]:
x = 0

while x < 5:
    print(f'the current value of x is {x}')
    x = x + 1

the current value of x is 0
the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4

In [64]:
x = 1

while x < 5:
    print(f'the current value of x is {x}')
    x += 1
else:
    print('X is not less than 5')

the current value of x is 1
the current value of x is 2
the current value of x is 3
the current value of x is 4
X is not less than 5

break: breaks out of the current closest enclosing loop.

continue: Goes to the top of the closest enclosing loop.

pass: Does nothing at all.

In [68]:
x = [1,2,3]

for item in x:
    pass



print('end of my script')

end of my script

In [69]:
mystring = 'Sammy'

In [71]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [75]:
for letter in mystring:
    if letter == 'm':
        break
    print(letter)

S
a

In [78]:
x = 0

while x < 5:
    
    if x == 2:
        break
        
    print(x)
    x += 1

0
1

Useful Operators in Python

In [79]:
mylist = [1,2,3]

In [80]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [82]:
for num in range(3,10):
    print(num)

3
4
5
6
7
8
9

In [85]:
for num in range(2,12,2):
    print(num)

2
4
6
8
10

In [89]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [90]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [91]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [93]:
word = 'abcde'

for item in enumerate(word):
    print(item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

In [96]:
word = 'abcde'

for index,letter in enumerate(word):
    print(str(index) + letter)

0a
1b
2c
3d
4e

In [104]:
mylist1 = [1,2,3,4,5]
mylist2 = ['a','b','c','d','e']
mylist3 = [100,200,300]

In [105]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [106]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [107]:
'x' in [1,2,3]

False

In [109]:
'x' in ['x','y','z']

True

In [110]:
'a' in 'a world'

True

In [111]:
'wor' in 'worlding'

True

In [112]:
'mykey' in {'mykey':345}

True

In [114]:
d = {'mykey':345}

345 in d.values()

True

In [115]:
mylist = [10,20,30,40,100]

In [116]:
min(mylist)

10

In [117]:
max(mylist)

100

In [118]:
from random import shuffle

In [120]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [121]:
shuffle(mylist)

In [122]:
mylist

[1, 10, 3, 8, 9, 5, 4, 6, 2, 7]

In [209]:
from random import randint

In [215]:
mynum = randint(0,10)

In [216]:
mynum

8

In [213]:
result = input('Enter a number here: ')

Enter a number here: 11

In [214]:
result

'11'

In [134]:
print(result)

23

In [135]:
result = input('favorite number: ')

favorite number: 30

In [136]:
type(result)

str

In [137]:
float(result)

30.0

In [138]:
print(int(result))

30

List Comprehensions

In [139]:
mystring = 'hello'

In [142]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [143]:
mylist

['h', 'e', 'l', 'l', 'o']

In [144]:
mylist = [letter for letter in mystring]

In [145]:
mylist

['h', 'e', 'l', 'l', 'o']

In [148]:
mylist = [baba for baba in 'word']

In [147]:
mylist

['w', 'o', 'r', 'd']

In [153]:
mylist = [num**2 for num in range(0,11)]

In [154]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [157]:
mylist = [x for x in range(0,11) if x%2==0]

In [158]:
mylist

[0, 2, 4, 6, 8, 10]

In [159]:
celcius = [0,10,20,34.5]

fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

In [160]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [162]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append((9/5)*temp + 32)

In [163]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [166]:
results = [x if x%2==0 else f'odd {x}' for x in range (0,11)]

In [167]:
results

[0, 'odd 1', 2, 'odd 3', 4, 'odd 5', 6, 'odd 7', 8, 'odd 9', 10]

In [170]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,100]:
        mylist.append(x*y)

In [171]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]

In [172]:
mylist = [x*y for x in [2,4,6] for y in [1,10,100]]

In [173]:
mylist

[2, 20, 200, 4, 40, 400, 6, 60, 600]