In [1]:
mylist = [1,2,3]

In [2]:
mylist.append(4)

In [3]:
mylist

[1, 2, 3, 4]

In [4]:
mylist.pop()

4

In [5]:
mylist

[1, 2, 3]

In [6]:
help(mylist.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

FUNCTIONS

def name_of_function(name):

    '''
    Docstring explains function.
    '''
    print("Hello" + name)
    


name_of_function("Jose")

Hello Jose

Functions usually use return, which is kind of like print, except it allows you to save the returned result as a variable.

So...

def add_function(num1,num2):
    return num1+num2
    
sets you up for:


result = add_function(1,2):

print(result)

3

BASIC FUNCTIONS

In [7]:
def say_hello():
    print("hello")

In [8]:
say_hello()

hello

In [9]:
def say_hi():
    print("hi")
    print("sup")
    print("hows it goin")

In [11]:
say_hi()

hi
sup
hows it goin

In [12]:
def say_hello(name):
    print(f'Hello {name}')

In [15]:
say_hello('Jose')

Hello Jose

In [16]:
say_hello()

TypeError: say_hello() missing 1 required positional argument: 'name'

In [17]:
def say_hello(name='Default'):
    print(f'Hello {name}')

In [18]:
say_hello('Jose')

Hello Jose

In [19]:
say_hello()

Hello Default

In [20]:
def add_num(num1,num2):
    return num1+num2

In [22]:
result = add_num(10,20)

In [23]:
result

30

In [24]:
def print_result(a,b):
    print(a+b)

In [25]:
def return_result(a,b):
    return a+b

In [27]:
result = print_result(10,20)

30

In [28]:
result

In [29]:
type(result)

NoneType

In [31]:
result = return_result(10,20)

In [32]:
result

30

In [33]:
type(result)

int

In [34]:
def myfunc(a,b):
    print(a+b)
    return a+b

In [35]:
result = myfunc(10,20)

30

In [36]:
result

30

In [37]:
def sum_numbers(num1,num2):
    return num1+num2

In [38]:
sum_numbers(10,20)

30

In [39]:
sum_numbers('10','20')

'1020'

FUNCTIONS WITH LOGIC

In [41]:
2 % 2

0

In [42]:
3 % 2

1

In [43]:
41 % 40

1

In [44]:
20 % 2

0

In [45]:
20 % 2 == 0

True

In [50]:
def even_check(number):
    return number % 2 == 0

In [51]:
even_check(20)

True

In [52]:
even_check(31)

False

In [53]:
# RETURN TRUE IF ANY NUMBER IS EVEN INSIDE A LIST

In [60]:
def check_even_list(num_list):
    
    for number in num_list:
        if number % 2 == 0:
            return True
        else:
            pass
    
    return False # CANNOT HAVE TWO returns IN THE SAME INDENTATION

In [59]:
check_even_list([1,3,5])

False

In [56]:
check_even_list([2,1,1,1])

True

In [57]:
check_even_list([1,3,5,6])

True

In [61]:
def check_even_list(num_list):
    #return all even numbers in a list
    
    #placeholder variables:
    even_numbers = []
    
    for number in num_list:
        if number % 2 == 0:
            even_numbers.append(number)
        else:
            pass
        
    #we only want to return the list once our forloop has concluded, otherwise it will end prematurely      
    return even_numbers

In [62]:
check_even_list([1,2,3,4,5,6])

[2, 4, 6]

In [63]:
check_even_list([3,70,44,23,23,1,2,6,6,5])

[70, 44, 2, 6, 6]

FUNCTIONS WITH TUPLE UNPACKING

In [1]:
stock_prices = [('APPL',200),('GOOG',400),('MSFT',100)]

In [2]:
for item in stock_prices:
    print(item)

('APPL', 200)
('GOOG', 400)
('MSFT', 100)

In [5]:
for ticker,price in stock_prices:
    print(price+(0.1*price))

220.0
440.0
110.0

In [10]:
work_hours = [('Abby',100),('Billy',4000),('Cassie',800),]

In [8]:
def employee_check(work_hours):
    
    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    
    
    
    
    # Return
    return (employee_of_month,current_max)

In [12]:
result = employee_check(work_hours)

In [13]:
result

('Billy', 4000)

In [14]:
name,hours = employee_check(work_hours)

In [15]:
name

'Billy'

In [16]:
hours

4000

In [17]:
name,hours,location = employee_check(work_hours)

ValueError: not enough values to unpack (expected 3, got 2)

INTERACTIONS BETWEEN FUNCTIONS

In [18]:
example = [1,2,3,4,5,6,7]

In [19]:
from random import shuffle

In [22]:
shuffle(example)

In [23]:
example

[1, 2, 3, 7, 6, 5, 4]

In [32]:
def shuffle_list(mylist):
    shuffle(mylist)
    return mylist

In [33]:
result = shuffle_list(example)

In [34]:
result

[3, 1, 2, 5, 6, 7, 4]

In [35]:
mylist = [' ','O',' ']

In [39]:
shuffle_list(mylist)

[' ', 'O', ' ']

In [41]:
def player_guess():
    
    guess=''
    
    while guess not in ['0','1','2']:
        guess = input("Pick a number 0, 1, or 2 ")
    
    return int(guess)

In [45]:
myindex = player_guess()

Pick a number 0, 1, or 22

In [46]:
myindex

2

In [47]:
def check_guess(mylist,guess):
    if mylist[guess] == 'O':
        print('Correct!')
    else:
        print("WRONG")
        print(mylist)

In [52]:
#INITAL LIST
mylist = [' ','O',' ']

#SHUFFLE LIST
mixedup_list = shuffle_list(mylist)

#USER GUESS
guess = player_guess()

#CHECK GUESS
check_guess(mixedup_list,guess)

Pick a number 0, 1, or 21
WRONG
[' ', ' ', 'O']

In [ ]:
def myfunc(name):
    print("Hello"+name)

In [ ]:
myfunc('Tim')

*args and **kwargs

In [56]:
def myfunc(a,b):
    # Returns 5% of the sum of a and b
    return sum((a,b)) * 0.05

In [57]:
myfunc(40,60)

5.0

In [58]:
def myfunc(a,b,c=0,d=0):
    return sum ((a,b,c,d)) * 0.05

In [59]:
myfunc(10,20,30)

3.0

In [60]:
myfunc(1,2,3,4,5,6)

TypeError: myfunc() takes from 2 to 4 positional arguments but 6 were given

In [61]:
def myfunc(*args):
    return sum(args) * 0.05

In [62]:
myfunc(40,60)

5.0

In [63]:
myfunc(40,60,100)

10.0

In [64]:
myfunc(40,60,100,200,300)

35.0

In [67]:
def myfunc(*spam):
    return sum(spam) * 0.05

In [68]:
myfunc(1,2,3,4,5)

0.75

In [69]:
def myfunc(*args):
    for item in args:
        print(item)

In [70]:
myfunc(40,60,70,80)

40
60
70
80

In [74]:
def myfunc(**kwargs):
    print(kwargs)
    if 'fruit' in kwargs:
        print('my fruit of choice is {}'.format(kwargs['fruit']))
    else:
        print('no fruit here')

In [75]:
myfunc(fruit ='apple', veggie ='lettuce')

{'fruit': 'apple', 'veggie': 'lettuce'}
my fruit of choice is apple

In [85]:
def myfunc(*args,**kwargs):
    
    print(args)
    print(kwargs)
    
    print('I would like {} {}'.format(args[0],kwargs['food']))

In [87]:
myfunc(10,30,50,fruit='orange',food='eggsies',animal='dog')

(10, 30, 50)
{'fruit': 'orange', 'food': 'eggsies', 'animal': 'dog'}
I would like 10 eggsies

letter

AttributeError: 'NoneType' object has no attribute 'upper'

In [99]:
def myfunc(word):
    
    newstring = ''
    
    for letter in word:
        if word[0]:
            print(str(letter)).upper
        elif word[1]:
            print(letter).upper

In [100]:
myfunc('howdy')

h

AttributeError: 'NoneType' object has no attribute 'upper'

In [180]:
def myfunc(stryng):
    
    index_count=0
    new_string = ''
    
    for letter in stryng:
        if index_count%2 == 0:
#             new_string = new_string + letter.upper()
            new_string +=  letter.upper()
#         elif index_count%2 == 1:
        else:
            new_string = new_string + letter
            
        index_count +=1
     
        
    return new_string

In [185]:
d = {
    'a':123,
    'b':456
}

for key,val in d.items():
    print(key,val)
    
    
s = set([1,2,3,4,5,6])
for element in s:
    print(element)

a 123
b 456
1
2
3
4
5
6

In [181]:
myfunc('beansismeans')

'BeAnSiSmEaNs'

In [186]:
stryng = 'beans is means'

In [187]:
stryng.split()

['beans', 'is', 'means']

In [188]:
def animal_crackers(text):
    words = text.split()
    print(words)

In [189]:
animal_crackers('Levelheaded Llama')

['Levelheaded', 'Llama']

In [1]:
#Vasia's func

def an2(text):
    words = text.split()
    firstCharacter = words[0][0]
    for word in words:
        if word[0] != firstCharacter:
            return False
    return True

LAMBDA EXPRESSIONS MAP AND FILTER

In [6]:
def square(num):
    return num**2

In [7]:
my_nums = [1,2,3,4,5]

In [8]:
map(square,my_nums)

In [9]:
for item in map(square,my_nums):
    print(item)

1
4
9
16
25

In [10]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [11]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0]

In [17]:
names = ['Andy','Eve','Sally','Mark','Timothy']

In [18]:
list(map(splicer,names))

['EVEN', 'E', 'S', 'EVEN', 'T']

In [19]:
def check_even(num):
    return num%2 == 0

In [20]:
mynums = [1,2,3,4,5,6]

In [21]:
filter(check_even,mynums)

In [22]:
list(filter(check_even,mynums))

[2, 4, 6]

In [23]:
for n in filter(check_even,mynums):
    print(n)

2
4
6

In [24]:
def square(num):
    result = num**2
    return result

In [25]:
square(3)

9

In [28]:
def square(num): return num**2

In [29]:
square(3)

9

In [31]:
square = lambda num: num**2

In [32]:
square(5)

25

In [34]:
lambda num: num**2

In [35]:
list(map(lambda num:num**2,mynums))

[1, 4, 9, 16, 25, 36]

In [37]:
list(filter(lambda num:num%2 == 0,mynums))

[2, 4, 6]

In [38]:
names

['Andy', 'Eve', 'Sally', 'Mark', 'Timothy']

In [39]:
list(map(lambda name:name[0],names))

['A', 'E', 'S', 'M', 'T']

In [40]:
list(map(lambda x:x[::-1],names))

['ydnA', 'evE', 'yllaS', 'kraM', 'yhtomiT']

NESTED STATEMENTS AND SCOPE

In [41]:
x = 25

def printer():
    x = 50
    return x

In [42]:
print(x)

25

In [43]:
print(printer())

50

Scope in Python follows the rule: LEGB

Local

Enclosing Function Locals

Gloabal

Built In

In [44]:
lambda num:num**2 #num is local to lambda expression

In [48]:
name = 'THIS IS A GLOBAL STRING'

def greet():
    name = 'Sammy' # local name within function is prioritized over the global string
    
    def hello():
        # if we redefine the variable name here, it will be prioritized over 'Sammy'
        print('Hello '+name)
        
    hello()

greet()

Hello Sammy

In [49]:
greet()

Hello Sammy

In [53]:
x = 50

def func(x):
    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT!
    x = 200
    print(f'I JUST LOCALLY CHANGED X to {x}')

In [54]:
func(x)

X is 50
I JUST LOCALLY CHANGED X to 200

In [55]:
print(x)

50

In [57]:
x = 50

def func():
    
    global x # Grabs the globally defined x
    
    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT!
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED GLOBAL X to {x}')

In [58]:
print(x)

50

In [59]:
func()

X is 50
I JUST LOCALLY CHANGED GLOBAL X to NEW VALUE

In [60]:
print(x)

NEW VALUE

In [61]:
x = 50

def func(x):
    
    print(f'X is {x}')
    
    # LOCAL REASSIGNMENT!
    x = 'NEW VALUE'
    print(f'I JUST LOCALLY CHANGED X to {x}')
    return x

In [62]:
print(x)

50

In [64]:
func(x)

X is 50
I JUST LOCALLY CHANGED X to NEW VALUE

'NEW VALUE'

In [66]:
x = func(x) #THIS ALSO REDEFINES X GLOBALLY

X is 50
I JUST LOCALLY CHANGED X to NEW VALUE

In [67]:
print(x)

NEW VALUE